* {
    padding: 0;
    margin: 0;
    list-style: none;
}
header {
    height: 80px;
    line-height: 80px;
    padding: 0 50px;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1d2458;
}
.user-info {
    display: flex;
    gap: 20px;
    cursor: pointer;
}
.iframe-box {
    padding: 20px;

}
.layout {
    display: flex;
    height: calc(100vh - 80px);
}
.search {
    background: #f2f2f2;
    padding: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}